<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="echarts.min.js"></script>
    <script type="text/javascript" src="jquery-3.1.0.js"></script>
    <title>relation-chart-example</title>
</head>
<body>
<div id="main" style="width:1000px;height:1000px;"></div>
<script type="text/javascript">
    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    var categories = ['Basic Info', 'Purchase Info', 'Asset Info', 'Other Info'];
    var option = {
        title: {
            text: 'User Portrait'
        },
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series: [
            {
                type: 'graph',
                layout: 'none',
                symbolSize: 80,
                roam: true,
                label: {
                    normal: {
                        show: true
                    }
                },
                edgeSymbol: ['circle', 'circle'],
                edgeSymbolSize: [5, 5],
                edgeLabel: {
                    normal: {
                        textStyle: {
                            fontSize: 20
                        }
                    }
                },
                data: [{
                    name: '王二小',
                    x: 550,
                    y: 250,
                    symbolSize: 120,
                    itemStyle: {
                        normal: {
                            color: '#c76919'
                        }
                    },
                    label: {
                        normal :{
                            textStyle: {
                                fontSize: 25
                            }
                        }
                    }
                }, {
                    name: '基本信息'+'测呃呃',
                    x: 650,
                    y: 250,
                    symbolSize: 100,
                    itemStyle: {
                        normal: {
                            color: '#19c7b9'
                        }
                    }
                }, {
                    name: '资产信息',
                    symbolSize: 100,
                    x: 550,
                    y: 200,
                    itemStyle: {
                        normal: {
                            color: '#c76919'
                        }
                    }
                }, {
                    name: '购买信息',
                    x: 550,
                    y: 300,
                    symbolSize: 100,
                    itemStyle: {
                        normal: {
                            color: '#1984c7'
                        }
                    }
                }, {
                    name: '男',
                    x: 625,
                    y: 225,
                    itemStyle: {
                        normal: {
                            color: '#c71919'
                        }
                    }
                }, {
                    name: '1990.01.30',
                    x: 675,
                    y: 225,
                    itemStyle: {
                        normal: {
                            color: '#B23AEE'
                        }
                    }
                }, {
                    name: '射手座',
                    x: 700,
                    y: 250,
                    itemStyle: {
                        normal: {
                            color: '#B23AEE'
                        }
                    }
                }, {
                    name: '定期：\n?????元',
                    x: 500,
                    y: 150,
                    itemStyle: {
                        normal: {
                            color: '#B22222'
                        }
                    }
                }, {
                    name: '活期：?????元',
                    x: 550,
                    y: 150,
                    itemStyle: {
                        normal: {
                            color: '#B22222'
                        }
                    }
                }, {
                    name: '股票：?????元',
                    x: 600,
                    y: 150,
                    itemStyle: {
                        normal: {
                            color: '#B22222'
                        }
                    }
                },  {
                    name: 'Coming...',
                    x: 550,
                    y: 350,
                    itemStyle: {
                        normal: {
                            color: '#7B68EE'
                        }
                    }
                }],
                edges: [{
                    source: 0,
                    target: 1,
                }, {
                    source: 0,
                    target: 2,
                }, {
                    source: 0,
                    target: 3
                }, {
                    source: 1,
                    target: 4
                }, {
                    source: 1,
                    target: 5
                }, {
                    source: 1,
                    target: 6
                }, {
                    source: 2,
                    target: 7
                }, {
                    source: 2,
                    target: 8
                }, {
                    source: 2,
                    target: 9
                }, {
                    source: 3,
                    target: 10
                }]
            }
        ]
    };
    myChart.setOption(option);
</script>
</body>
</html>