<link href="../resources/flat-ui/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../resources/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
<link rel="shortcut icon" href="resources/flat-ui/img/favicon.ico">